main.default, main#gallery {


	@include media(min-width 480px) {
		display: flex;
		.half { width: 50%; }
	}
	@include media($mobile) {
		> div {
			width: 100%;
			display: block;
		}
	}

	.left {
		overflow: auto;
		max-height: 100vh;

		.scroller {
			position: relative;
			z-index: 9;
			
			@include media($desktop) {
				padding-left: 15.5rem;
				padding-top: 38.5rem;
				padding-right: 15.5rem;
			}
			@include media($mobile) {
				padding-top: 220px;
				padding-left: 35px;
				padding-right: 45px;
			}

			h1 {
				margin-bottom: 7rem;
			}
			p {
				font-size: 2rem;
				letter-spacing: 0;
			}
			.btn {
				margin: 6rem auto;
			}
		}
	}

	.right {
	    position: relative;
	    overflow: hidden;
	    
		img {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    margin: auto;
		    max-width: none;
		    height: 100%;
		    min-width: 100%;
		}
	}
	
	.super-title {
		position: absolute;
		color: #f8f8f8;
		font-size: 38rem;
		line-height: 38rem;
		text-transform: uppercase;
		letter-spacing: 1rem;
		font-family: $contrast;

		position: fixed;
		top: 50%; margin-top: -18.25rem;
		left: 0;
		z-index: 1;
		opacity: .8;

		@include media(min-width 1920px) {
			font-size: 65rem;
		}

		@include media($mobile) {
			top: 160px;
			margin-top: 0;
			font-size: 60rem;
			left: -10rem;
		}
	}
}