main.landing {
	height: 100vh;
	@include overlay(rgba(0,0,0,0.3));
	
	.logo {
		text-indent: -9999px;
		display: block;
		@include size(10.1rem 2rem);
		background: url(../images/logo.png) no-repeat center center;
		background-size: 10.1rem;
		margin: 0 auto;

		position: relative;
		top: 6rem;
		z-index: 9999;
		@include media($mobile) {
			margin: 0;
			left: 35px;
		}
	}

	.text {
		@include center(vertical);
		text-align: center;
		z-index: 999;

		h2 {
			font-family: $contrast;
			color: $red;
			font-size: 1.75rem;
			text-transform: uppercase;
			letter-spacing: .2rem;
			@include media($mobile) {
				max-width: 80%;
				margin-left: 10%;
				font-size: 15px;
			}
		}
		
		h1 {
			font-family: $light;
			color: white;
			font-size: 6.5rem;
			line-height: 7.5rem;
			text-transform: none;
			max-width: 85rem;
			margin: 0 auto;
			@include media($mobile) {
			    max-width: 90%;
	    		margin-left: 5%;
			}
		}

		.btn {
			margin: 6rem auto;
			@include media($mobile) {
				transform: scale(1.5);
				margin-top: 15rem;
			}
		}
	}
}