html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter, opacity, filter;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 20px;
  height: 12px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -5px;
}
.hamburger-inner::after {
  bottom: -5px;
}

/*
 * 3DX
 */
.hamburger--3dx .hamburger-box {
  perspective: 40px;
}
.hamburger--3dx .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg);
}
.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
}

/*
 * 3DX Reverse
 */
.hamburger--3dx-r .hamburger-box {
  perspective: 40px;
}
.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg);
}
.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
}

/*
 * 3DY
 */
.hamburger--3dy .hamburger-box {
  perspective: 40px;
}
.hamburger--3dy .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg);
}
.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
}

/*
 * 3DY Reverse
 */
.hamburger--3dy-r .hamburger-box {
  perspective: 40px;
}
.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg);
}
.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
}

/*
 * Arrow
 */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-4px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-4px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
 * Arrow Right
 */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(4px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(4px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
 * Arrow Alt
 */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-4px, -5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-4px, 5px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
 * Arrow Alt Right
 */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(4px, -5px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(4px, 5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
 * Boring
 */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none;
}
.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}
.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -10px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Collapse Reverse
 */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r .hamburger-inner::after {
  top: -10px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -5px, 0) rotate(45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 1px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 5px;
  transition: opacity 0.15s 0.4s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 10px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 5px, 0) rotate(135deg);
  transition-delay: 0.1s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-270deg);
  transition-delay: 0.1s;
}

/*
 * Elastic Reverse
 */
.hamburger--elastic-r .hamburger-inner {
  top: 1px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic-r .hamburger-inner::before {
  top: 5px;
  transition: opacity 0.15s 0.4s ease;
}
.hamburger--elastic-r .hamburger-inner::after {
  top: 10px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 5px, 0) rotate(-135deg);
  transition-delay: 0.1s;
}
.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(270deg);
  transition-delay: 0.1s;
}

/*
 * Emphatic
 */
.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.2s 0.25s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 5px;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -40px;
  top: -40px;
  transform: translate3d(40px, 40px, 0) rotate(45deg);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -40px;
  top: -40px;
  transform: translate3d(-40px, 40px, 0) rotate(-45deg);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
 * Emphatic Reverse
 */
.hamburger--emphatic-r {
  overflow: hidden;
}
.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.2s 0.25s ease-in;
}
.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
}
.hamburger--emphatic-r .hamburger-inner::after {
  top: 5px;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
}
.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -40px;
  top: 40px;
  transform: translate3d(40px, -40px, 0) rotate(-45deg);
  transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -40px;
  top: 40px;
  transform: translate3d(-40px, -40px, 0) rotate(45deg);
  transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 1px;
}
.hamburger--slider .hamburger-inner::before {
  top: 5px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.hamburger--slider .hamburger-inner::after {
  top: 10px;
}
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-2.8571428571px, -3px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-90deg);
}

/*
 * Slider Reverse
 */
.hamburger--slider-r .hamburger-inner {
  top: 1px;
}
.hamburger--slider-r .hamburger-inner::before {
  top: 5px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.hamburger--slider-r .hamburger-inner::after {
  top: 10px;
}
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 5px, 0) rotate(-45deg);
}
.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(2.8571428571px, -3px, 0);
  opacity: 0;
}
.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(90deg);
}

/*
 * Spring
 */
.hamburger--spring .hamburger-inner {
  top: 1px;
  transition: background-color 0s 0.15s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 5px;
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 10px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.32s;
  background-color: transparent;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 5px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 5px, 0) rotate(-45deg);
}

/*
 * Spring Reverse
 */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring-r .hamburger-inner::after {
  top: -10px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}
.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.32s linear;
}
.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Stand
 */
.hamburger--stand .hamburger-inner {
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
}
.hamburger--stand .hamburger-inner::before {
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
}
.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Stand Reverse
 */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
}
.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
}
.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Spin Reverse
 */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
 * Vortex
 */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
 * Vortex Reverse
 */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}
.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/**
 * Base styles 		~	 	Grid options
 */
/**
 * Base styles 		~	 	Media Query options
 */
/**
 * Base styles 		~	 	Colours
 */
/**
 * Base styles 		~	 	Type
 */
/**
 * Base styles
 */
html {
  font-family: "FuturaStdMedium", sans-serif;
  font-size: 62.5%;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 40%;
  }
}

body {
  position: relative;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.isMobile {
  display: none;
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  .isMobile {
    visibility: visible;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
    visibility: hidden;
  }
}

@media screen and (min-width: 480px) {
  .hide-desktop {
    display: none !important;
    visibility: hidden;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #000;
  text-shadow: none;
  color: white;
}

::selection {
  background: #000;
  text-shadow: none;
  color: white;
}

.no-bullet,
ul.no-bullet {
  list-style: none;
}

/* Misc ---------------------- */
.hide {
  display: none;
}

.fill-remainder {
  float: none;
  overflow: hidden;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .hide-desktop {
    display: none;
  }
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Base styles ~ Grid
 */
.container {
  max-width: 76.3%;
  margin-left: auto;
  margin-right: auto;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}

.row {
  display: block;
}
.row::after {
  clear: both;
  content: "";
  display: table;
}

.one {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 6.1721527019%;
}
.one:last-child {
  margin-right: 0;
}

.two {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
}
.two:last-child {
  margin-right: 0;
}

.three {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
}
.three:last-child {
  margin-right: 0;
}

.four {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
}
.four:last-child {
  margin-right: 0;
}

.five {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%;
}
.five:last-child {
  margin-right: 0;
}

.six {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
}
.six:last-child {
  margin-right: 0;
}

.seven {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 57.3509785009%;
}
.seven:last-child {
  margin-right: 0;
}

.eight {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
}
.eight:last-child {
  margin-right: 0;
}

.nine {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%;
}
.nine:last-child {
  margin-right: 0;
}

.ten {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
}
.ten:last-child {
  margin-right: 0;
}

.eleven {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 91.4701957002%;
}
.eleven:last-child {
  margin-right: 0;
}

.twelve {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}
.twelve:last-child {
  margin-right: 0;
}

@font-face {
  font-family: 'FuturaStdMedium';
  src: url("../fonts/FuturaStdMedium.eot");
  src: url("../fonts/FuturaStdMedium.eot") format("embedded-opentype"), url("../fonts/FuturaStdMedium.woff2") format("woff2"), url("../fonts/FuturaStdMedium.woff") format("woff"), url("../fonts/FuturaStdMedium.ttf") format("truetype"), url("../fonts/FuturaStdMedium.svg#FuturaStdMedium") format("svg");
}
@font-face {
  font-family: 'FuturaStdHeavy';
  src: url("../fonts/FuturaStdHeavy.eot");
  src: url("../fonts/FuturaStdHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaStdHeavy.woff2") format("woff2"), url("../fonts/FuturaStdHeavy.woff") format("woff"), url("../fonts/FuturaStdHeavy.ttf") format("truetype"), url("../fonts/FuturaStdHeavy.svg#FuturaStdHeavy") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaStdBook';
  src: url("../fonts/FuturaStdBook.eot");
  src: url("../fonts/FuturaStdBook.eot") format("embedded-opentype"), url("../fonts/FuturaStdBook.woff2") format("woff2"), url("../fonts/FuturaStdBook.woff") format("woff"), url("../fonts/FuturaStdBook.ttf") format("truetype"), url("../fonts/FuturaStdBook.svg#FuturaStdBook") format("svg");
}
@font-face {
  font-family: 'FuturaStdLight';
  src: url("../fonts/FuturaStdLight.eot");
  src: url("../fonts/FuturaStdLight.eot") format("embedded-opentype"), url("../fonts/FuturaStdLight.woff2") format("woff2"), url("../fonts/FuturaStdLight.woff") format("woff"), url("../fonts/FuturaStdLight.ttf") format("truetype"), url("../fonts/FuturaStdLight.svg#FuturaStdLight") format("svg");
}
@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.eot");
  src: url("../fonts/GothamBold.eot") format("embedded-opentype"), url("../fonts/GothamBold.woff2") format("woff2"), url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.ttf") format("truetype"), url("../fonts/GothamBold.svg#GothamBold") format("svg");
}
/**
 * Base styles ~ Type
 */
body {
  font-size: 1.3rem;
  font-family: "FuturaStdBook", sans-serif;
  color: #aeaea8;
}

a {
  color: #fc5457;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 14px 0;
  font-family: "GothamBold", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fc5457;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 44px;
  line-height: 48.4px;
  font-size: 4.4rem;
  line-height: 4.84rem;
}

h2,
.h2 {
  font-size: 37px;
  line-height: 40.7px;
  font-size: 3.7rem;
  line-height: 4.07rem;
}

h3,
.h3 {
  font-size: 27px;
  line-height: 29.7px;
  font-size: 2.7rem;
  line-height: 2.97rem;
}

h4,
.h4 {
  font-size: 23px;
  line-height: 25.3px;
  font-size: 2.3rem;
  line-height: 2.53rem;
}

h5,
.h5 {
  font-size: 17px;
  line-height: 18.7px;
  font-size: 1.7rem;
  line-height: 1.87rem;
}

h6,
.h6 {
  font-size: 14px;
  line-height: 15.8px;
  font-size: 1.4rem;
  line-height: 1.58rem;
}

p {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 17px;
  font-family: "FuturaStdBook", sans-serif;
  font-weight: normal;
  color: #aeaea8;
}

hr {
  margin: 22px 0 21px;
  height: 0;
  border: solid #fff;
  border-width: 1px 0 0;
  clear: both;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

.pressable:active {
  transform: translateY(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.main {
  position: relative;
  background-size: cover;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .main {
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .main {
    height: 100%;
    width: 100vw;
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding: 1.9rem 4.5rem;
  border: 2px solid #aeaea8;
  font-size: 1.5rem;
  font-family: "FuturaStdMedium", sans-serif;
  font-weight: 800;
  letter-spacing: .075rem;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}
.btn.red {
  color: #fc5457;
  border-color: #fc5457;
  background-color: white;
}
.btn.white {
  color: white;
  border-color: white;
}
.btn.white:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  display: block;
  height: 1.3rem;
  width: 2rem;
  position: absolute;
  z-index: 9999;
  left: 8rem;
}
.arrow.top {
  top: 0;
  background: url("../images/asset-caret-up.png") no-repeat center center;
  background-size: 2rem 1.3rem;
}
.arrow.bottom {
  bottom: 0;
  background: url("../images/asset-caret-down.png") no-repeat center center;
  background-size: 2rem 1.3rem;
}

#loader-wrap {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#loader-wrap section {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  width: 0;
  background: white;
  z-index: 99;
}
#loader-wrap section.red {
  width: 100vw;
  z-index: 98;
  background: #fc5457;
}
#loader-wrap section.logo-wrap {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 999;
  background: transparent;
}
#loader-wrap .logo.red {
  width: 60rem;
  height: 11.9rem;
  margin: 0 auto;
  background: url("../images/logo-red.png") no-repeat center center;
  background-size: 60rem;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 480px) {
  #loader-wrap .logo.red {
    transform: scale(0.8);
  }
}

header .menu-trigger {
  height: 1.3rem;
  width: 1.9rem;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  left: 8.1rem;
  top: 6.3rem;
  outline: none;
}
@media screen and (max-width: 480px) {
  header .menu-trigger {
    left: initial;
    right: 35px;
  }
}
header .menu-trigger.black .hamburger-inner, header .menu-trigger.black .hamburger-inner::before, header .menu-trigger.black .hamburger-inner::after {
  background-color: #666;
}
header .menu-trigger.black.is-active .hamburger-inner, header .menu-trigger.black.is-active .hamburger-inner::before, header .menu-trigger.black.is-active .hamburger-inner::after {
  background-color: white;
}

.contact-link {
  display: inline-block;
  font-family: "FuturaStdMedium", sans-serif;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  position: fixed;
  z-index: 999;
  right: 8.1rem;
  bottom: 6.3rem;
}
.contact-link > span {
  position: relative;
  display: inline-block;
}
.contact-link > span:after {
  content: " ";
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  background-color: transparent;
  transition: background-color 0.25s ease;
}
.contact-link:hover > span::after {
  background-color: #fff;
  transition: background-color 0.25s ease;
}
.contact-link.menu-open {
  z-index: 99999;
}
@media screen and (max-width: 480px) {
  .contact-link {
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 15px;
  }
  body.about .contact-link, body.team .contact-link, body.employers-job-seekers .contact-link {
    top: 5rem;
    left: 35px;
    right: initial;
    color: #666666;
    width: auto;
    height: 20px;
    font-size: 20px;
  }
  body.about .contact-link.menu-open, body.team .contact-link.menu-open, body.employers-job-seekers .contact-link.menu-open {
    color: white;
  }
}

#menu {
  position: fixed;
  z-index: 9998;
  height: 100%;
  width: 100%;
  background: rgba(252, 84, 87, 0.78);
  opacity: 0;
  visibility: hidden;
}
#menu.menu-open {
  visibility: visible;
}
#menu nav {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menu nav ul {
  padding: 0;
  max-width: 39rem;
  margin: 0 auto;
}
#menu nav li {
  list-style: none;
}
#menu nav li a {
  font-family: "FuturaStdBook", sans-serif;
  font-size: 3.5rem;
  line-height: 6.5rem;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#menu nav li a:hover {
  opacity: 1;
}
#menu nav li.active a {
  opacity: 1;
}
#menu .social {
  position: absolute;
  width: 100%;
  bottom: 6.5rem;
}
@media screen and (max-width: 480px) {
  #menu .social {
    bottom: 15rem;
  }
}
#menu .social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#menu .social ul li {
  height: 6rem;
  width: 6rem;
  display: block;
  float: left;
  border-radius: 100%;
  margin-right: 4.5rem;
  transition: all 0.25s ease-out;
}
#menu .social ul li a {
  display: block;
  height: 100%;
  width: 100%;
  text-indent: -9999px;
}
#menu .social ul li.linkedin a {
  background: url("../images/asset-icon-linkedin.png") no-repeat center 45%;
  background-size: 2.1rem;
}
#menu .social ul li.facebook a {
  background: url("../images/asset-icon-facebook.png") no-repeat center center;
  background-size: 1rem 2.1rem;
}
#menu .social ul li.twitter {
  margin-right: 0;
}
#menu .social ul li.twitter a {
  background: url("../images/asset-icon-twitter.png") no-repeat center center;
  background-size: 2.1rem 1.75rem;
}
#menu .social ul li:hover {
  border: 1px solid white;
  transition: all 0.25s ease-in;
}

main.landing {
  height: 100vh;
}
main.landing:before {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
main.landing .logo {
  text-indent: -9999px;
  display: block;
  height: 2rem;
  width: 10.1rem;
  background: url(../images/logo.png) no-repeat center center;
  background-size: 10.1rem;
  margin: 0 auto;
  position: relative;
  top: 6rem;
  z-index: 9999;
}
@media screen and (max-width: 480px) {
  main.landing .logo {
    margin: 0;
    left: 35px;
  }
}
main.landing .text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 999;
}
main.landing .text h2 {
  font-family: "GothamBold", sans-serif;
  color: #fc5457;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
@media screen and (max-width: 480px) {
  main.landing .text h2 {
    max-width: 80%;
    margin-left: 10%;
    font-size: 15px;
  }
}
main.landing .text h1 {
  font-family: "FuturaStdLight", garamond, serif;
  color: white;
  font-size: 6.5rem;
  line-height: 7.5rem;
  text-transform: none;
  max-width: 85rem;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  main.landing .text h1 {
    max-width: 90%;
    margin-left: 5%;
  }
}
main.landing .text .btn {
  margin: 6rem auto;
}
@media screen and (max-width: 480px) {
  main.landing .text .btn {
    transform: scale(1.5);
    margin-top: 15rem;
  }
}

@media screen and (min-width: 480px) {
  main.default, main#gallery {
    display: flex;
  }
  main.default .half, main#gallery .half {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  main.default > div, main#gallery > div {
    width: 100%;
    display: block;
  }
}
main.default .left, main#gallery .left {
  overflow: auto;
  max-height: 100vh;
}
main.default .left .scroller, main#gallery .left .scroller {
  position: relative;
  z-index: 9;
}
@media screen and (min-width: 480px) {
  main.default .left .scroller, main#gallery .left .scroller {
    padding-left: 15.5rem;
    padding-top: 38.5rem;
    padding-right: 15.5rem;
  }
}
@media screen and (max-width: 480px) {
  main.default .left .scroller, main#gallery .left .scroller {
    padding-top: 220px;
    padding-left: 35px;
    padding-right: 45px;
  }
}
main.default .left .scroller h1, main#gallery .left .scroller h1 {
  margin-bottom: 7rem;
}
main.default .left .scroller p, main#gallery .left .scroller p {
  font-size: 2rem;
  letter-spacing: 0;
}
main.default .left .scroller .btn, main#gallery .left .scroller .btn {
  margin: 6rem auto;
}
main.default .right, main#gallery .right {
  position: relative;
  overflow: hidden;
}
main.default .right img, main#gallery .right img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: none;
  height: 100%;
  min-width: 100%;
}
main.default .super-title, main#gallery .super-title {
  position: absolute;
  color: #f8f8f8;
  font-size: 38rem;
  line-height: 38rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-family: "GothamBold", sans-serif;
  position: fixed;
  top: 50%;
  margin-top: -18.25rem;
  left: 0;
  z-index: 1;
  opacity: .8;
}
@media screen and (min-width: 1920px) {
  main.default .super-title, main#gallery .super-title {
    font-size: 65rem;
  }
}
@media screen and (max-width: 480px) {
  main.default .super-title, main#gallery .super-title {
    top: 160px;
    margin-top: 0;
    font-size: 60rem;
    left: -10rem;
  }
}

main#gallery .left {
  position: relative;
  overflow: hidden;
}
main#gallery .left > .btn {
  position: absolute;
  bottom: 6.5rem;
  left: 2rem;
  z-index: 99;
}
@media screen and (min-width: 480px) {
  main#gallery .left > .btn {
    left: 15.5rem;
  }
}
main#gallery .left .text {
  width: 44rem;
  margin: 0 auto;
  height: calc(100vh - 14rem);
}
main#gallery .left .text h1, main#gallery .left .text h2 {
  margin-bottom: 5.5rem;
}
main#gallery .left .gallery-content {
  width: 44rem;
  height: calc(100vh - 14rem);
  background: white;
  position: absolute;
  left: 50%;
  margin-left: -22rem;
  top: 0;
  z-index: 9;
}
main#gallery .right {
  height: 100vh;
  background: #fc5457;
}
main#gallery .right .gallery-nav {
  height: 48rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
main#gallery .right .gallery-nav .slick-list {
  overflow: visible;
}
main#gallery .right .gallery-nav .slick-slider {
  z-index: 9999;
}
main#gallery .right .gallery-nav:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
}
main#gallery .right .gallery-nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
}
main#gallery .right .gallery-nav li {
  position: relative;
  z-index: 999;
  width: 100% !important;
  padding-left: 8rem;
  margin-bottom: 3rem;
  cursor: pointer;
  font-family: "FuturaStdMedium", sans-serif;
  color: white;
  font-size: 1.8rem;
  opacity: .5;
  letter-spacing: .1rem;
}
main#gallery .right .gallery-nav li span.index {
  display: none;
}
main#gallery .right .gallery-nav li.slick-current {
  opacity: 1;
}
main#gallery .right .gallery-nav li.slick-current span.index {
  display: block;
}
main#gallery .right .gallery-nav li:focus, main#gallery .right .gallery-nav li:active {
  outline: none;
}
main#gallery .right .gallery-nav li span.index {
  font-size: 43.5rem;
  color: #fc6b6d;
  text-align: center;
  font-family: "GothamBold", sans-serif;
  position: fixed;
  top: -10rem;
  right: 0;
  letter-spacing: 3rem;
  z-index: -1;
  opacity: .73;
}
main#gallery .right .gallery-nav li span.index > span {
  opacity: .3;
  z-index: -1;
  position: absolute;
  right: 80%;
}
main#gallery .gallery-mobile .counter {
  width: 100%;
  height: 145px;
  background: #fc5457;
  margin-top: 100px;
}
main#gallery .gallery-mobile .counter .arrows {
  position: relative;
  width: calc(100% - 60px);
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}
main#gallery .gallery-mobile .counter .arrows .arrow {
  height: 40px;
  width: 40px;
  transform: rotate(-90deg);
  background-size: 20px 12.5px;
  top: 50%;
  margin-top: -20px;
}
main#gallery .gallery-mobile .counter .arrows .arrow.top {
  left: 0;
}
main#gallery .gallery-mobile .counter .arrows .arrow.bottom {
  left: inherit;
  right: 0;
  top: 50%;
}
main#gallery .gallery-mobile .content {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
main#gallery .gallery-mobile .content .slick-list {
  overflow: visible;
}
main#gallery .gallery-mobile .content span.index {
  font-family: "FuturaStdMedium", sans-serif;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: -125px;
  z-index: 99999;
  left: 50%;
  margin-left: -25px;
}
main#gallery .gallery-mobile .content span.index span {
  color: white;
}
