header {
	.menu-trigger {
		@include size(1.9rem 1.3rem);
		cursor: pointer;

		position: fixed;
		z-index: 9999;
		left: 8.1rem;
		top: 6.3rem;
		@include media($mobile) {
			left: initial;
			right: 35px;
		}

		outline: none;

		&.black {
			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				background-color: #666;
			}
			&.is-active {
				.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
					background-color: white;
				}	
			}
		}
	}
}


.contact-link {
	display: inline-block;
	font-family: $base-font;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;

	position: fixed;
	z-index: 999;
	right: 8.1rem;
	bottom: 6.3rem;

	@include underlined(transparent, #fff);

	&.menu-open {
		z-index: 99999;
	}

	@include media($mobile) {
		width: 100%;
		text-align: center;
		left: 0; right: 0;
		font-size: 15px;
		position: absolute;

		body.about &, 
		body.team &,
		body.employers-job-seekers & {
			top: 5rem;
			left: 35px;
			right: initial; 
			color: #666666;
		    width: auto;
		    height: 20px;
		    font-size: 20px;
		    &.menu-open {
		    	color: white;
		    }
		}
	}
	@include media(max-width 360px) {
		bottom: 2rem;
	}



}