header {
	.menu-trigger {
		@include size(1.9rem 1.3rem);
		cursor: pointer;

		position: fixed;
		z-index: 9999;
		left: 8.1rem;
		top: 6.3rem;

		outline: none;

		&.black {
			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				background-color: #949494;
			}
			&.is-active {
				.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
					background-color: white;
				}	
			}
		}
	}
}


.contact-link {
	display: inline-block;
	font-family: $base-font;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;

	position: fixed;
	z-index: 999;
	right: 8.1rem;
	bottom: 6.3rem;

	&.menu-open {
		z-index: 99999;
		text-decoration: underline;
	}
}