header {
	.menu-trigger {
		@include size(1.9rem 1.3rem);
		cursor: pointer;

		position: fixed;
		z-index: 9999;
		left: 8.1rem;
		top: 6.3rem;

		&.black {
			background:url(../images/hamburger-black.svg) no-repeat center center;
			background-size: 1.9rem 1.3rem;

		}
		&.white {
			background:url(../images/hamburger.svg) no-repeat center center;
			background-size: 1.9rem 1.3rem;
		}
	}
}


.contact-link {
	display: inline-block;
	font-family: $base-font;
	color: white;
	font-size: 1.5rem;
	text-decoration: none;

	position: fixed;
	z-index: 999;
	right: 8.1rem;
	bottom: 6.3rem;
}