#menu {
	position: fixed;
	z-index: 9998;
	@include size(100%);
	background: rgba(252, 84, 87, 0.78);

	opacity: 0;
	visibility: hidden;
	&.menu-open {
		visibility: visible;
	}

	nav {
		text-align: center;
		@include center(vertical);

		ul {
			padding: 0;
			max-width: 39rem;
			margin: 0 auto;
		}

		li {
			list-style: none;

			a {
				font-family: $book;
				font-size: 3.5rem;
				line-height: 6.5rem;
				color: white;
				text-decoration: none;
				opacity: 0.6;
				@include transition(all 0.25s $ease-in-out-sine);
				&:hover {
					opacity: 1;
				}
			}

			&.active {
				a {
					opacity: 1;
				}
			}
		}
	}

	.social {
		position: absolute;
		width: 100%;
		bottom: 6.5rem;
		@include media($mobile) {
			bottom: 15rem;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: inline-block;
			@include center(horizontal);

			li {
				@include size(6rem);
				display: block;
				float: left;
				border-radius: 100%;
				margin-right: 4.5rem;

				a {
					display: block;
					@include size(100%);
					text-indent: -9999px;
				}
				&.linkedin {
					a {
						background: url('../images/asset-icon-linkedin.png') no-repeat center 45%;	
						background-size: 2.1rem;
					}
				}
				&.facebook {
					a {
						background: url('../images/asset-icon-facebook.png') no-repeat center center;	
						background-size: 1rem 2.1rem;
					}
				}
				&.twitter {
					margin-right: 0;
					a {
						background: url('../images/asset-icon-twitter.png') no-repeat center center;	
						background-size: 2.1rem 1.75rem;
					}
				}
				
				@include transition(all 0.25s ease-out);
				&:hover {
					border: 1px solid white;
					@include transition(all 0.25s ease-in);
				}
			}
		}
	}
}